<mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menu">Étudiants</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/etudiants">Liste</button>
        <button mat-menu-item routerLink="/ajout-etudiants">Ajout</button>
        <button mat-menu-item routerLink="/modification-etudiants">Modification</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu2">Réservations</button>
    <mat-menu #menu2="matMenu">
        <button mat-menu-item routerLink="/reservations">Liste</button>
        <button mat-menu-item routerLink="/ajout-reservations">Ajout</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu3">Locaux</button>
    <mat-menu #menu3="matMenu">
        <button mat-menu-item routerLink="/locaux">Liste</button>
        <button mat-menu-item routerLink="/ajout-locaux">Ajout</button>
        <button mat-menu-item routerLink="/modification-locaux">Modification</button>
    </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
