<h1>{{etudiants}}</h1>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let etudiant"> {{etudiant.nom}} </td>
    </ng-container>
  
    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef> Prénom </th>
      <td mat-cell *matCellDef="let etudiant"> {{etudiant.prenom}} </td>
    </ng-container>
  
    <ng-container matColumnDef="da">
      <th mat-header-cell *matHeaderCellDef> DA </th>
      <td mat-cell *matCellDef="let etudiant"> {{etudiant.da}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
</table>