<h1>Modification d'un local</h1>
<form (ngSubmit)="onEdit(localForm)" #localForm="ngForm">
    <div class="form-group">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nom du local</mat-label>
            <mat-select required [(ngModel)]="model.nom" name="nom" (selectionChange)="getLocal()">
              <mat-option *ngFor="let local of locaux" [value]="local.nom">
                  {{local.nom}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    
    <div class="form-group">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre max</mat-label>
            <input matInput [value]="local.nbmax" #nbmax="ngModel" required [(ngModel)]="model.nbmax" name="nbmax" placeholder="Nombre maximum de réservation du local">
        </mat-form-field>
    </div>
    
    <div class="form-group">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Disponible</mat-label>
            <mat-select required [(value)]="local.dispo">
                <mat-option [value]="true">Oui</mat-option>
                <mat-option [value]="false">Non</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    

    <button mat-raised-button type="submit" class="btn btn-success" [disabled]="!localForm.form.valid">Submit</button>
</form>